Repository feryardiant/learn-monorepo, changes with the labels that .github/labeler.yml gives for each.
All labels: api, database, documentation, enhancement, integration, localization, ui/ux

.github/labeler.yml:

api:
  - changed-files:
      - any-glob-to-any-file: ["packages/*/src/**.php", "packages/*/*.php"]

database:
  - changed-files:
      - any-glob-to-any-file: ["packages/*/database/**.php"]

documentation:
  - changed-files:
      - any-glob-to-any-file: [.env.example, "**.md"]

enhancement:
  - changed-files:
      - any-glob-to-any-file: "**"

experimental:
  - head-branch: ["^test", "test"]

features:
  - head-branch: ["^feat", "feat"]

fixes:
  - head-branch: ["^fix", "fix"]

integration:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/**.yml"
          - "packages/*/.github/**"
          - "scripts/**"
          - "workbench/**"
          - "**/tests/**Test.php"

localization:
  - changed-files:
      - any-glob-to-any-file: ["packages/*/lang/**"]

ui/ux:
  - changed-files:
      - any-glob-to-any-file: ["packages/*/views/**"]

chore(release): 0.0.4
  CHANGELOG.md
  package.json
Labels: documentation, enhancement

chore: update release category title
  .github/release.yml
Labels: enhancement, integration

revert: back to `softprops/action-gh-release`
  .github/workflows/release.yml
Labels: enhancement

chore(release): 0.0.5
  CHANGELOG.md
  package.json
Labels: documentation, enhancement

chore(deps): bump npm dependencies
  package.json
  pnpm-lock.yaml
Labels: enhancement
