Repository feryardiant/learn-monorepo, changes with the labels that .github/labeler.yml gives for each.
All labels: api, database, documentation, enhancement, integration, localization, ui/ux

.github/labeler.yml:

api:
  - changed-files:
      - any-glob-to-any-file: ['packages/*/src/**.php', 'packages/*/*.php']

database:
  - changed-files:
      - any-glob-to-any-file: ['packages/*/database/**.php']

documentation:
  - changed-files:
      - any-glob-to-any-file: [.env.example, '**.md']

enhancement:
  - changed-files:
      - any-glob-to-any-file: '**'

integration:
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/*.yml', 'packages/*/.github/**', '**/tests/**Test.php']

localization:
  - changed-files:
      - any-glob-to-any-file: ['packages/*/lang/**']

ui/ux:
  - changed-files:
      - any-glob-to-any-file: ['packages/*/views/**']

chore: init basic packages structure
  composer.json
  packages/bar/composer.json
  packages/bar/config.php
  packages/bar/lang/en.json
  packages/bar/lang/en/bar.php
  packages/bar/lang/id.json
  packages/bar/lang/id/bar.php
  packages/bar/src/Bar/Dummy.php
  packages/bar/src/BarServiceProvider.php
  packages/bar/tests/BarServiceProviderTest.php
  packages/common/composer.json
  packages/common/config.php
  packages/common/lang/en.json
  packages/common/lang/en/foo.php
  packages/common/lang/id.json
  packages/common/lang/id/foo.php
  packages/common/src/Common/Dummy.php
  packages/common/src/Common/ServiceProviderHelper.php
  packages/common/src/CommonServiceProvider.php
  packages/common/tests/CommonServiceProviderTest.php
  packages/foo/composer.json
  packages/foo/config.php
  packages/foo/lang/en.json
  packages/foo/lang/en/foo.php
  packages/foo/lang/id.json
  packages/foo/lang/id/foo.php
  packages/foo/src/Foo/Dummy.php
  packages/foo/src/FooServiceProvider.php
  packages/foo/tests/FooServiceProviderTest.php
  phpunit.xml
  tests/.gitignore
  tests/TestCase.php
  workbench/.env.example
  workbench/Providers/WorkbenchServiceProvider.php
Labels: api, enhancement, integration, localization

chore: init vscode recommendation settings
  .vscode/extensions.json
  .vscode/settings.json
Labels: enhancement

chore: update readme
  README.md
Labels: documentation, enhancement

chore: add ability to tests on php 8.1
  composer.json
  composer.lock
Labels: enhancement

feat: init pest
  .github/workflows/test.yml
  .vscode/settings.json
  composer.json
  composer.lock
  packages/bar/src/BarServiceProvider.php
  packages/bar/tests/BarServiceProviderTest.php
  packages/common/src/CommonServiceProvider.php
  packages/common/tests/CommonServiceProviderTest.php
  packages/foo/src/FooServiceProvider.php
  packages/foo/tests/FooServiceProviderTest.php
  tests/DuskTestCase.php
  tests/Pest.php
  tests/Unit/DummyTest.php
  tests/WithTestHelper.php
  workbench/TestHelper.php
Labels: api, enhancement, integration

chore: simplify hooks usage
  packages/bar/tests/BarServiceProviderTest.php
  packages/common/tests/CommonServiceProviderTest.php
  packages/foo/tests/FooServiceProviderTest.php
  tests/DuskTestCase.php
  tests/Pest.php
  tests/TestCase.php
  tests/WithTestHelper.php
Labels: enhancement, integration

chore: fix phpstan issues
  packages/bar/tests/BarServiceProviderTest.php
  packages/common/tests/CommonServiceProviderTest.php
  packages/foo/tests/FooServiceProviderTest.php
Labels: enhancement, integration

chore: add more tests
  packages/bar/tests/BarServiceProviderTest.php
  packages/common/tests/CommonServiceProviderTest.php
  packages/foo/tests/FooServiceProviderTest.php
Labels: enhancement, integration

feat: init split script
  scripts/README.md
  scripts/split.sh
Labels: enhancement

chore: update readme
  README.md
Labels: documentation, enhancement

feat(ci): add workflow step to upload test reports to codecov
  .github/workflows/test.yml
Labels: enhancement, integration

chore(ci): update condition for codecov step
  .github/workflows/test.yml
Labels: enhancement, integration

feat(ci): add workflow job to split and push sub-packages
  .github/workflows/test.yml
Labels: enhancement, integration

chore(ci): add prepare environment step
  .github/workflows/test.yml
Labels: enhancement, integration

chore: update gitattributes file
  .gitattributes
Labels: enhancement

feat(dev): add code climate config file
  .codeclimate.json
Labels: enhancement

chore(docs): add code climate maintainability and coverage badges
  README.md
Labels: documentation, enhancement

chore(release): 0.0.1
  CHANGELOG.md
  package.json
Labels: documentation, enhancement

fix: add appropriate permission to publish a release
  .github/workflows/release.yml
Labels: enhancement, integration

chore: ensure only run `split` job on the `main` branch
  .github/workflows/test.yml
Labels: enhancement, integration

chore: add `--follow-tags` flag when pushing to sub-package repo
  scripts/split.sh
Labels: enhancement

feat: init `changelogithub` to publish releases on github
  .github/workflows/release.yml
Labels: enhancement, integration

chore(release): 0.0.2
  CHANGELOG.md
  package.json
Labels: documentation, enhancement

chore: add permissions to read PRs when publishing releases
  .github/workflows/release.yml
Labels: enhancement, integration

chore(release): 0.0.3
  CHANGELOG.md
  package.json
Labels: documentation, enhancement
