Repository feryardiant/learn-monorepo, changes with the labels that .github/labeler.yml gives for each.
All labels: api, database, dependencies, documentation, enhancement, integration, localization, ui/ux

chore: init releaser script
  package.json
  scripts/release.sh
  scripts/split.sh
Labels: dependencies, enhancement, integration

chore: echo validation message to `stderr`
  scripts/split.sh
Labels: enhancement, integration

chore: fix missing removing tmp sub-package dir
  scripts/release.sh
Labels: enhancement, integration

feat: add release automation on each sub-package
  packages/bar/.github/CODEOWNERS
  packages/bar/.github/workflows/release.yml
  packages/common/.github/CODEOWNERS
  packages/common/.github/workflows/release.yml
  packages/foo/.github/CODEOWNERS
  packages/foo/.github/workflows/release.yml
Labels: enhancement, integration

feat: switch back to `changeloggithub` reverting 811857d
  .github/workflows/release.yml
Labels: enhancement

chore: get rid sync history validation
  scripts/release.sh
Labels: enhancement, integration

chore(release): 0.0.6
  CHANGELOG.md
  package.json
Labels: dependencies, documentation, enhancement

chore(deps): upgrade dependencies
  composer.lock
  package.json
  pnpm-lock.yaml
Labels: dependencies, enhancement

.github/labeler.yml:

api:
  - changed-files:
      - any-glob-to-any-file: ["packages/*/src/**.php", "packages/*/*.php"]

database:
  - changed-files:
      - any-glob-to-any-file: ["packages/*/database/**.php"]

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - "composer.json"
          - "package.json"
          - "pnpm-lock.yaml"
          - "packages/*/composer.json"
          - "packages/*/package.json"

documentation:
  - changed-files:
      - any-glob-to-any-file: [.env.example, "**.md"]

enhancement:
  - changed-files:
      - any-glob-to-any-file: "**"

experimental:
  - head-branch: ["^test", "test"]

features:
  - head-branch: ["^feat", "feat"]

fixes:
  - head-branch: ["^fix", "fix"]

integration:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/**.yml"
          - "packages/*/.github/**"
          - "scripts/**"
          - "workbench/**"
          - "**/tests/**Test.php"

localization:
  - changed-files:
      - any-glob-to-any-file: ["packages/*/lang/**"]

ui/ux:
  - changed-files:
      - any-glob-to-any-file: ["packages/*/views/**"]
